# **1. Import all important libraries**

In [1]:
import glob
import os
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# **2. Taking a brief look at air quality dataset**

In [6]:
#load sample ispu data
ispu_data = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/dataset/2010/02. ISPU Provinsi-DKI-Jakarta-Bulan-Februari-Tahun-2010.csv")
ispu_data

       tanggal  pm10  so2  co  o3  no2  max critical categori lokasi_spku
0   2010-02-01    41    7  30  17   13   41     PM10     BAIK        DKI1
1   2010-02-02    50    4  30  23   12   50     PM10     BAIK        DKI1
2   2010-02-03    49    7  33  57   23   57       O3   SEDANG        DKI1
3   2010-02-04    59    9  38  75   26   75       O3   SEDANG        DKI1
4   2010-02-05    63    7  39  41   23   63     PM10   SEDANG        DKI1
5   2010-02-06    65    8  59  24   15   65     PM10   SEDANG        DKI1
6   2010-02-07    60   10  45  47   17   60     PM10   SEDANG        DKI1
7   2010-02-08    46    5  31  42   17   46     PM10     BAIK        DKI1
8   2010-02-09    52    7  30  34   16   52     PM10   SEDANG        DKI1
9   2010-02-10    50    8  31  39   14   50     PM10     BAIK        DKI1
10  2010-02-11    47    5  27  26   14   47     PM10     BAIK        DKI1
11  2010-02-12    56    6  33  45   20   56     PM10   SEDANG        DKI1
12  2010-02-13    55    6  39  14   14   55     PM10   SEDANG        DKI1
13  2010-02-14    55    6  61  16   13   61       CO   SEDANG        DKI1
14  2010-02-15    40    4  30  63   22   63       O3   SEDANG        DKI1
15  2010-02-16    56    4  43  25   20   56     PM10   SEDANG        DKI1
16  2010-02-17    52    4  34  30   17   52     PM10   SEDANG        DKI1
17  2010-02-18    41    5  26  14   10   41     PM10     BAIK        DKI1
18  2010-02-19    37    4  43  17   17   43       CO     BAIK        DKI1
19  2010-02-20    52    3  64  18   12   64       CO   SEDANG        DKI1
20  2010-02-21    61    4  53  36   15   61     PM10   SEDANG        DKI1
21  2010-02-22    34    4  31  23   16   34     PM10     BAIK        DKI1
22  2010-02-23    57    7  35  42   18   57     PM10   SEDANG        DKI1
23  2010-02-24    59    4  44  93   24   93       O3   SEDANG        DKI1
24  2010-02-25    65    6  55  26   26   65     PM10   SEDANG        DKI1
25  2010-02-26    68    9  67  67   22   68     PM10   SEDANG        DKI1
26  2010-02-27    67    8  47  47   19   67     PM10   SEDANG        DKI1
27  2010-02-28    65    6  38  80   23   80       O3   SEDANG        DKI1

In [7]:
ispu_data.describe()

            pm10        so2         co         o3        no2        max
count  28.000000  28.000000  28.000000  28.000000  28.000000  28.000000
mean   53.642857   5.964286  40.571429  38.607143  17.785714  57.928571
std     9.357961   1.875419  11.827240  21.372082   4.483361  12.543048
min    34.000000   3.000000  26.000000  14.000000  10.000000  34.000000
25%    48.500000   4.000000  31.000000  23.000000  14.000000  50.000000
50%    55.000000   6.000000  38.000000  35.000000  17.000000  57.000000
75%    60.250000   7.000000  45.500000  47.000000  22.000000  64.250000
max    68.000000  10.000000  67.000000  93.000000  26.000000  93.000000

It can be seen that the air quality data we have is quite good.

# **3. Taking a brief look at weather dataset**

In [18]:
#load sample weather data
weather_data = pd.read_excel("/content/gdrive/MyDrive/dokumentasi/cuaca/2016/01. Cuaca-Jakarta-Bulan-Januari-Tahun-2016.xlsx")
weather_data

                                           Unnamed: 0  ... Unnamed: 10
0                                                 NaN  ...         NaN
1                                                 NaN  ...         NaN
2                                                 NaN  ...         NaN
3                                                 NaN  ...         NaN
4                                                 NaN  ...         NaN
5                                                 NaN  ...         NaN
6                                                 NaN  ...         NaN
7                                             Tanggal  ...     ddd_car
8                                          01-01-2016  ...          N
9                                          02-01-2016  ...          N
10                                         03-01-2016  ...          W
11                                         04-01-2016  ...          N
12                                         05-01-2016  ...          N
13                                         06-01-2016  ...          N
14                                         07-01-2016  ...          N
15                                         08-01-2016  ...          N
16                                         09-01-2016  ...          N
17                                         10-01-2016  ...          N
18                                         11-01-2016  ...          N
19                                         12-01-2016  ...          N
20                                         13-01-2016  ...          N
21                                         14-01-2016  ...          N
22                                         15-01-2016  ...          N
23                                         16-01-2016  ...          N
24                                         17-01-2016  ...          N
25                                         18-01-2016  ...          N
26                                         19-01-2016  ...          N
27                                         20-01-2016  ...          N
28                                         21-01-2016  ...          N
29                                         22-01-2016  ...          N
30                                         23-01-2016  ...          N
31                                         24-01-2016  ...          N
32                                         25-01-2016  ...          N
33                                         26-01-2016  ...          N
34                                         27-01-2016  ...          N
35                                         28-01-2016  ...          N
36                                         29-01-2016  ...          N
37                                         30-01-2016  ...          N
38                                         31-01-2016  ...          N
39                                                NaN  ...         NaN
40                                                NaN  ...         NaN
41                                                NaN  ...         NaN
42                                       Keterangan :  ...         NaN
43                           8888: data tidak terukur  ...         NaN
44  9999: Tidak Ada Data (tidak dilakukan pengukuran)  ...         NaN
45                      Tn: Temperatur minimum\t (°C)  ...         NaN
46                       Tx: Temperatur maksimum (°C)  ...         NaN
47                    Tavg: Temperatur rata-rata (°C)  ...         NaN
48                   RH_avg: Kelembapan rata-rata (%)  ...         NaN
49                               RR: Curah hujan (mm)  ...         NaN
50              ss: Lamanya penyinaran matahari (jam)  ...         NaN
51               ff_x: Kecepatan angin maksimum (m/s)  ...         NaN
52      ddd_x: Arah angin saat kecepatan maksimum (°)  ...         NaN
53            ff_avg: Kecepatan angin rata-rata (m/s)  ...         NaN
54                  ddd_car: Arah angin terbanyak (°)  ...         NaN

[55 rows x 11 columns]

In [10]:
weather_data.describe()

                                     Unnamed: 0  ID WMO  ...  Unnamed: 4  Unnamed: 5
count                                        40    36.0  ...          32          32
unique                                       40    29.0  ...           4           9
top     ff_avg: Kecepatan angin rata-rata (m/s)    27.8  ...           2          W
freq                                          1     3.0  ...          16           9

[4 rows x 6 columns]

It can be seen that the weather data we have is bad and messy. We need to do something before we can use it.

# **4. Cleaning the weather data**

Since there are many NaN values before column names (rows 0-7) we need to skip these columns when reading the data.

In [19]:
weather_data = pd.read_excel("/content/gdrive/MyDrive/dokumentasi/cuaca/2016/01. Cuaca-Jakarta-Bulan-Januari-Tahun-2016.xlsx",skiprows=[0,1,2,3,4,5,6,7])
weather_data

                                              Tanggal    Tn  ...  ff_avg  ddd_car
0                                          01-01-2016  25.0  ...     2.0       N
1                                          02-01-2016  26.0  ...     1.0       N
2                                          03-01-2016  25.0  ...     2.0       W
3                                          04-01-2016   NaN  ...     2.0       N
4                                          05-01-2016  27.0  ...     1.0       N
5                                          06-01-2016  26.0  ...     1.0       N
6                                          07-01-2016  26.0  ...     2.0       N
7                                          08-01-2016  27.0  ...     2.0       N
8                                          09-01-2016  26.0  ...     2.0       N
9                                          10-01-2016  27.0  ...     2.0       N
10                                         11-01-2016  27.0  ...     1.0       N
11                                         12-01-2016  28.0  ...     1.0       N
12                                         13-01-2016  25.0  ...     1.0       N
13                                         14-01-2016  26.0  ...     1.0       N
14                                         15-01-2016  26.0  ...     1.0       N
15                                         16-01-2016  27.0  ...     1.0       N
16                                         17-01-2016  26.0  ...     1.0       N
17                                         18-01-2016  27.0  ...     2.0       N
18                                         19-01-2016   NaN  ...     1.0       N
19                                         20-01-2016   NaN  ...     1.0       N
20                                         21-01-2016   NaN  ...     1.0       N
21                                         22-01-2016  27.0  ...     1.0       N
22                                         23-01-2016  25.0  ...     1.0       N
23                                         24-01-2016  25.0  ...     1.0       N
24                                         25-01-2016   NaN  ...     0.0       N
25                                         26-01-2016  25.0  ...     1.0       N
26                                         27-01-2016  26.0  ...     2.0       N
27                                         28-01-2016  26.0  ...     2.0       N
28                                         29-01-2016  27.0  ...     2.0       N
29                                         30-01-2016  27.0  ...     2.0       N
30                                         31-01-2016   NaN  ...     2.0       N
31                                                NaN   NaN  ...     NaN      NaN
32                                                NaN   NaN  ...     NaN      NaN
33                                                NaN   NaN  ...     NaN      NaN
34                                       Keterangan :   NaN  ...     NaN      NaN
35                           8888: data tidak terukur   NaN  ...     NaN      NaN
36  9999: Tidak Ada Data (tidak dilakukan pengukuran)   NaN  ...     NaN      NaN
37                      Tn: Temperatur minimum\t (°C)   NaN  ...     NaN      NaN
38                       Tx: Temperatur maksimum (°C)   NaN  ...     NaN      NaN
39                    Tavg: Temperatur rata-rata (°C)   NaN  ...     NaN      NaN
40                   RH_avg: Kelembapan rata-rata (%)   NaN  ...     NaN      NaN
41                               RR: Curah hujan (mm)   NaN  ...     NaN      NaN
42              ss: Lamanya penyinaran matahari (jam)   NaN  ...     NaN      NaN
43               ff_x: Kecepatan angin maksimum (m/s)   NaN  ...     NaN      NaN
44      ddd_x: Arah angin saat kecepatan maksimum (°)   NaN  ...     NaN      NaN
45            ff_avg: Kecepatan angin rata-rata (m/s)   NaN  ...     NaN      NaN
46                  ddd_car: Arah angin terbanyak (°)   NaN  ...     NaN      NaN

[47 rows x 11 columns]

Because we only need the Temperature,	Humidity,	Precipitation,	Wind Speed, and	Wind Direction data from the dataset. So we need to drop the others.

In [20]:
weather_data.drop(['Tn', 'Tx', 'ss', 'ff_x', 'ddd_x'],axis=1, inplace=True)
weather_data

                                              Tanggal  Tavg  ...  ff_avg  ddd_car
0                                          01-01-2016  28.2  ...     2.0       N
1                                          02-01-2016  27.1  ...     1.0       N
2                                          03-01-2016  28.4  ...     2.0       W
3                                          04-01-2016  29.0  ...     2.0       N
4                                          05-01-2016  28.6  ...     1.0       N
5                                          06-01-2016  28.8  ...     1.0       N
6                                          07-01-2016  29.7  ...     2.0       N
7                                          08-01-2016  29.6  ...     2.0       N
8                                          09-01-2016  29.0  ...     2.0       N
9                                          10-01-2016  29.1  ...     2.0       N
10                                         11-01-2016  29.8  ...     1.0       N
11                                         12-01-2016  28.5  ...     1.0       N
12                                         13-01-2016  28.2  ...     1.0       N
13                                         14-01-2016  29.0  ...     1.0       N
14                                         15-01-2016  29.4  ...     1.0       N
15                                         16-01-2016  29.2  ...     1.0       N
16                                         17-01-2016  29.2  ...     1.0       N
17                                         18-01-2016  29.4  ...     2.0       N
18                                         19-01-2016  28.7  ...     1.0       N
19                                         20-01-2016  28.0  ...     1.0       N
20                                         21-01-2016  28.1  ...     1.0       N
21                                         22-01-2016  29.0  ...     1.0       N
22                                         23-01-2016  26.7  ...     1.0       N
23                                         24-01-2016  27.7  ...     1.0       N
24                                         25-01-2016  25.9  ...     0.0       N
25                                         26-01-2016  27.8  ...     1.0       N
26                                         27-01-2016  29.0  ...     2.0       N
27                                         28-01-2016  28.9  ...     2.0       N
28                                         29-01-2016  29.0  ...     2.0       N
29                                         30-01-2016  28.5  ...     2.0       N
30                                         31-01-2016  28.5  ...     2.0       N
31                                                NaN   NaN  ...     NaN      NaN
32                                                NaN   NaN  ...     NaN      NaN
33                                                NaN   NaN  ...     NaN      NaN
34                                       Keterangan :   NaN  ...     NaN      NaN
35                           8888: data tidak terukur   NaN  ...     NaN      NaN
36  9999: Tidak Ada Data (tidak dilakukan pengukuran)   NaN  ...     NaN      NaN
37                      Tn: Temperatur minimum\t (°C)   NaN  ...     NaN      NaN
38                       Tx: Temperatur maksimum (°C)   NaN  ...     NaN      NaN
39                    Tavg: Temperatur rata-rata (°C)   NaN  ...     NaN      NaN
40                   RH_avg: Kelembapan rata-rata (%)   NaN  ...     NaN      NaN
41                               RR: Curah hujan (mm)   NaN  ...     NaN      NaN
42              ss: Lamanya penyinaran matahari (jam)   NaN  ...     NaN      NaN
43               ff_x: Kecepatan angin maksimum (m/s)   NaN  ...     NaN      NaN
44      ddd_x: Arah angin saat kecepatan maksimum (°)   NaN  ...     NaN      NaN
45            ff_avg: Kecepatan angin rata-rata (m/s)   NaN  ...     NaN      NaN
46                  ddd_car: Arah angin terbanyak (°)   NaN  ...     NaN      NaN

[47 rows x 6 columns]

Since there is a lot of unused NaN data at the end of the data, we can use dropna to delete it.

In [21]:
weather_data.dropna(inplace=True)
weather_data

       Tanggal  Tavg  RH_avg      RR  ff_avg ddd_car
0   01-01-2016  28.2    83.0    26.6     2.0      N
1   02-01-2016  27.1    85.0     0.0     1.0      N
2   03-01-2016  28.4    79.0    15.6     2.0      W
3   04-01-2016  29.0    80.0     0.0     2.0      N
4   05-01-2016  28.6    83.0     0.0     1.0      N
5   06-01-2016  28.8    77.0    11.6     1.0      N
6   07-01-2016  29.7    76.0     0.3     2.0      N
7   08-01-2016  29.6    78.0     0.0     2.0      N
8   09-01-2016  29.0    81.0     0.0     2.0      N
9   10-01-2016  29.1    76.0     0.0     2.0      N
10  11-01-2016  29.8    74.0     0.0     1.0      N
11  12-01-2016  28.5    82.0     0.0     1.0      N
12  13-01-2016  28.2    82.0     5.5     1.0      N
13  14-01-2016  29.0    78.0     1.2     1.0      N
14  15-01-2016  29.4    79.0     0.0     1.0      N
15  16-01-2016  29.2    77.0     0.2     1.0      N
16  17-01-2016  29.2    76.0     0.0     1.0      N
17  18-01-2016  29.4    76.0     0.0     2.0      N
18  19-01-2016  28.7    77.0     0.0     1.0      N
19  20-01-2016  28.0    80.0    30.5     1.0      N
20  21-01-2016  28.1    82.0     0.2     1.0      N
21  22-01-2016  29.0    83.0     1.8     1.0      N
22  23-01-2016  26.7    87.0    11.4     1.0      N
23  24-01-2016  27.7    86.0    14.7     1.0      N
24  25-01-2016  25.9    92.0    30.8     0.0      N
25  26-01-2016  27.8    84.0     6.7     1.0      N
26  27-01-2016  29.0    81.0     0.1     2.0      N
27  28-01-2016  28.9    81.0     6.6     2.0      N
28  29-01-2016  29.0    79.0     0.0     2.0      N
29  30-01-2016  28.5    81.0  8888.0     2.0      N
30  31-01-2016  28.5    79.0  8888.0     2.0      N

Now the weather data is ready to use.

# **5. Combine weather and air quality data**

In [28]:
#load air quality data
aq_data = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/dataset/2016/01. ISPU Provinsi-DKI-Jakarta-Bulan-Januari-Tahun-2016.csv")
#concat air quality and weather data
result = pd.concat([weather_data,aq_data], axis=1)
result

       Tanggal  Tavg  RH_avg      RR  ...  max critical     categori  lokasi_spku
0   01-01-2016  28.2    83.0    26.6  ...   72     PM10       SEDANG         DKI4
1   02-01-2016  27.1    85.0     0.0  ...   52     PM10       SEDANG         DKI1
2   03-01-2016  28.4    79.0    15.6  ...   50       O3         BAIK         DKI3
3   04-01-2016  29.0    80.0     0.0  ...  103       O3  TIDAK SEHAT         DKI2
4   05-01-2016  28.6    83.0     0.0  ...   99     PM10       SEDANG         DKI4
5   06-01-2016  28.8    77.0    11.6  ...   75     PM10       SEDANG         DKI4
6   07-01-2016  29.7    76.0     0.3  ...   75     PM10       SEDANG         DKI4
7   08-01-2016  29.6    78.0     0.0  ...   62       O3       SEDANG         DKI2
8   09-01-2016  29.0    81.0     0.0  ...   77     PM10       SEDANG         DKI4
9   10-01-2016  29.1    76.0     0.0  ...   86       O3       SEDANG         DKI2
10  11-01-2016  29.8    74.0     0.0  ...   93       O3       SEDANG         DKI2
11  12-01-2016  28.5    82.0     0.0  ...   72     PM10       SEDANG         DKI4
12  13-01-2016  28.2    82.0     5.5  ...   65     PM10       SEDANG         DKI5
13  14-01-2016  29.0    78.0     1.2  ...   59     PM10       SEDANG         DKI2
14  15-01-2016  29.4    79.0     0.0  ...   68     PM10       SEDANG         DKI4
15  16-01-2016  29.2    77.0     0.2  ...   95       O3       SEDANG         DKI1
16  17-01-2016  29.2    76.0     0.0  ...  149       O3  TIDAK SEHAT         DKI1
17  18-01-2016  29.4    76.0     0.0  ...  107       O3  TIDAK SEHAT         DKI2
18  19-01-2016  28.7    77.0     0.0  ...   83       O3       SEDANG         DKI3
19  20-01-2016  28.0    80.0    30.5  ...   69       O3       SEDANG         DKI1
20  21-01-2016  28.1    82.0     0.2  ...   73       O3       SEDANG         DKI3
21  22-01-2016  29.0    83.0     1.8  ...   79     PM10       SEDANG         DKI4
22  23-01-2016  26.7    87.0    11.4  ...   55     PM10       SEDANG         DKI4
23  24-01-2016  27.7    86.0    14.7  ...   55     PM10       SEDANG         DKI1
24  25-01-2016  25.9    92.0    30.8  ...   49       O3         BAIK         DKI1
25  26-01-2016  27.8    84.0     6.7  ...   61     PM10       SEDANG         DKI1
26  27-01-2016  29.0    81.0     0.1  ...   81       O3       SEDANG         DKI3
27  28-01-2016  28.9    81.0     6.6  ...   77       O3       SEDANG         DKI1
28  29-01-2016  29.0    79.0     0.0  ...   83       O3       SEDANG         DKI2
29  30-01-2016  28.5    81.0  8888.0  ...   80     PM10       SEDANG         DKI4
30  31-01-2016  28.5    79.0  8888.0  ...   80     PM10       SEDANG         DKI4

[31 rows x 16 columns]

Delete unused and duplicates column and rename some column

In [29]:
result.drop(['tanggal', 'critical', 'categori', 'lokasi_spku','max'], axis=1, inplace=True)
result.rename(columns = {'Tanggal':'Date','Tavg': 'Temperature', 'RH_avg': 'Humidity', 'RR' : 'Precipitation', 'ff_avg': 'Wind Speed', 'ddd_car': 'Wind Direction'}, inplace = True)
result

          Date  Temperature  Humidity  Precipitation  ...  so2  co   o3  no2
0   01-01-2016         28.2      83.0           26.6  ...   32  53   51   11
1   02-01-2016         27.1      85.0            0.0  ...   32  29   50   12
2   03-01-2016         28.4      79.0           15.6  ...   33  33   50   18
3   04-01-2016         29.0      80.0            0.0  ...   33  36  103   24
4   05-01-2016         28.6      83.0            0.0  ...   33  54   67   22
5   06-01-2016         28.8      77.0           11.6  ...   33  43   55   17
6   07-01-2016         29.7      76.0            0.3  ...   33  31   70   13
7   08-01-2016         29.6      78.0            0.0  ...   33  30   62    9
8   09-01-2016         29.0      81.0            0.0  ...   33  34   68    9
9   10-01-2016         29.1      76.0            0.0  ...   39  38   86   15
10  11-01-2016         29.8      74.0            0.0  ...   38  36   93   14
11  12-01-2016         28.5      82.0            0.0  ...   37  38   60   20
12  13-01-2016         28.2      82.0            5.5  ...   37  43   57   16
13  14-01-2016         29.0      78.0            1.2  ...   38  33   53   18
14  15-01-2016         29.4      79.0            0.0  ...   42  39   60   11
15  16-01-2016         29.2      77.0            0.2  ...   42  34   95   15
16  17-01-2016         29.2      76.0            0.0  ...   42  39  149   17
17  18-01-2016         29.4      76.0            0.0  ...   44  43  107   21
18  19-01-2016         28.7      77.0            0.0  ...   45  31   83   18
19  20-01-2016         28.0      80.0           30.5  ...   44  39   69   18
20  21-01-2016         28.1      82.0            0.2  ...   48  35   73   14
21  22-01-2016         29.0      83.0            1.8  ...   41  59   52   15
22  23-01-2016         26.7      87.0           11.4  ...   40  37   51   14
23  24-01-2016         27.7      86.0           14.7  ...   41  42   48   14
24  25-01-2016         25.9      92.0           30.8  ...   40  32   49   13
25  26-01-2016         27.8      84.0            6.7  ...   42  47   54   16
26  27-01-2016         29.0      81.0            0.1  ...   43  58   81   21
27  28-01-2016         28.9      81.0            6.6  ...   42  30   77   15
28  29-01-2016         29.0      79.0            0.0  ...   44  29   83   16
29  30-01-2016         28.5      81.0         8888.0  ...   42  24   62   14
30  31-01-2016         28.5      79.0         8888.0  ...   42  25   51   12

[31 rows x 11 columns]

Now we succesfully combine the data

# **6. Implement to all of the data and save it to google drive**

In [55]:
#make folder to save the combined data
for x in range(2010,2022):
  !mkdir /content/gdrive/MyDrive/dokumentasi/dataset_combined/$x #Use your own path

In [58]:
month={"Januari": "01", "Februari": "02", "Maret": "03", "April": "04", "Mei": "05", "Juni": "06", "Juli": "07", "Agustus": "08", "September": "09", "Oktober":10, "November":11, "Desember":12}
for x in range(2010,2022):
  path_cuaca = f'/content/gdrive/MyDrive/dokumentasi/cuaca/{x}' # use your path
  files_cuaca = glob.glob(path_cuaca + "/*.xlsx")
  path_ispu = f'/content/gdrive/MyDrive/dokumentasi/dataset/{x}' # use your path
  files_ispu = glob.glob(path_ispu + "/*.csv")

  #sort the data to start from januari
  files_cuaca.sort()
  files_ispu.sort()

  for ispu,cuaca in zip(files_ispu, files_cuaca):
    txt = ispu.split("-")
    print(f"Processing: {x} {txt[4]} ")

   
    df_cuaca = pd.read_excel(cuaca, header=0, skiprows=[0,1,2,3,4,5,6,7])
    df_ispu = pd.read_csv(ispu, index_col=None, header=0)
    try:
      df_cuaca.drop(['Tn', 'Tx', 'ss', 'ff_x', 'ddd_x'],axis=1, inplace=True)
    except:
      pass
    df_cuaca.dropna(inplace=True)
    result = pd.concat([df_cuaca, df_ispu], axis=1)

    result.drop(['tanggal', 'critical', 'categori', 'lokasi_spku','max'], axis=1, inplace=True)
    result = result.rename(columns = {'Tavg': 'Temperature', 'RH_avg': 'Humidity', 'RR' : 'Precipitation', 'ff_avg': 'Wind Speed', 'ddd_car': 'Wind Direction'}, inplace = False)
    if txt[4] in month.keys():
      nama_file = f"{month[txt[4]]}. {txt[4]} {x}.csv"
      path_save = f"/content/gdrive/MyDrive/dokumentasi/dataset_combined/{x}/{nama_file}" #use your own path
      try:
        result.drop("Unnamed: 10", axis=1, inplace =True) #Drop unnamed column
      except:
        pass
      result.to_csv(path_save,index=False)

Processing: 2010 Januari
Processing: 2010 Februari
Processing: 2010 Maret
Processing: 2010 April
Processing: 2010 Mei
Processing: 2010 Juni
Processing: 2010 Juli
Processing: 2010 Agustus
Processing: 2010 September
Processing: 2010 Oktober
Processing: 2010 November
Processing: 2010 Desember
Processing: 2011 Januari
Processing: 2011 Februari
Processing: 2011 Maret
Processing: 2011 April
Processing: 2011 Mei
Processing: 2011 Juni
Processing: 2011 Juli
Processing: 2011 Agustus
Processing: 2011 September
Processing: 2011 Oktober
Processing: 2011 November
Processing: 2011 Desember
Processing: 2012 Januari
Processing: 2012 Februari
Processing: 2012 Maret
Processing: 2012 April
Processing: 2012 Mei
Processing: 2012 Juni
Processing: 2012 Juli
Processing: 2012 Agustus
Processing: 2012 September
Processing: 2012 Oktober
Processing: 2012 November
Processing: 2012 Desember
Processing: 2013 Januari
Processing: 2013 Februari
Processing: 2013 Maret
Processing: 2013 April
Processing: 2013 Mei
Processing: 2013 Juni
Processing: 2013 Juli
Processing: 2013 Agustus
Processing: 2013 September
Processing: 2013 Oktober
Processing: 2013 November
Processing: 2013 Desember
Processing: 2014 Januari
Processing: 2014 Februari
Processing: 2014 Maret
Processing: 2014 April
Processing: 2014 Mei
Processing: 2014 Juni
Processing: 2014 Juli
Processing: 2014 Agustus
Processing: 2014 September
Processing: 2014 Oktober
Processing: 2014 November
Processing: 2014 Desember
Processing: 2015 Januari
Processing: 2015 Februari
Processing: 2015 Maret
Processing: 2015 April
Processing: 2015 Mei
Processing: 2015 Juni
Processing: 2015 Juli
Processing: 2015 Agustus
Processing: 2015 September
Processing: 2015 Oktober
Processing: 2015 November
Processing: 2015 Desember
Processing: 2016 Januari
Processing: 2016 Februari
Processing: 2016 Maret
Processing: 2016 April
Processing: 2016 Mei
Processing: 2016 Juni
Processing: 2016 Juli
Processing: 2016 Agustus
Processing: 2016 September
Processing: 2016 Oktober
Processing: 2016 November
Processing: 2016 Desember
Processing: 2017 Januari
Processing: 2017 Februari
Processing: 2017 Maret
Processing: 2017 April
Processing: 2017 Mei
Processing: 2017 Juni
Processing: 2017 Juli
Processing: 2017 Agustus
Processing: 2017 September
Processing: 2017 Oktober
Processing: 2017 November
Processing: 2017 Desember
Processing: 2018 Januari
Processing: 2018 Februari
Processing: 2018 Maret
Processing: 2018 April
Processing: 2018 Mei
Processing: 2018 Juni
Processing: 2018 Juli
Processing: 2018 Agustus
Processing: 2018 September
Processing: 2018 Oktober
Processing: 2018 November
Processing: 2018 Desember
Processing: 2019 Januari
Processing: 2019 Februari
Processing: 2019 Maret
Processing: 2019 April
Processing: 2019 Mei
Processing: 2019 Juni
Processing: 2019 Juli
Processing: 2019 Agustus
Processing: 2019 September
Processing: 2019 Oktober
Processing: 2019 November
Processing: 2019 Desember
Processing: 2020 Januari
Processing: 2020 Februari
Processing: 2020 Maret
Processing: 2020 April
Processing: 2020 Mei
Processing: 2020 Juni
Processing: 2020 Juli
Processing: 2020 Agustus
Processing: 2020 September
Processing: 2020 Oktober
Processing: 2020 November
Processing: 2020 Desember
Processing: 2021 Januari
Processing: 2021 Februari
Processing: 2021 Maret

In [59]:
#Check the result
df = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/dataset_combined/2012/01. Januari 2012.csv")
df

       Tanggal  Temperature  Humidity  Precipitation  ...  so2  co   o3  no2
0   01-01-2012         26.6      87.0            7.8  ...   18  39   63    7
1   02-01-2012         26.7      85.0            8.3  ...   22  28   55   11
2   03-01-2012         27.2      86.0         8888.0  ...   15  42   86   22
3   04-01-2012         28.3      80.0            0.8  ...   20  55   97   20
4   05-01-2012         27.6      85.0           25.2  ...   14  39  157   25
5   06-01-2012         27.0      84.0           55.7  ...   28  47   68   11
6   07-01-2012         26.6      88.0            4.7  ...   20  54   73   13
7   08-01-2012         26.5      88.0           14.1  ...   15  48   90   13
8   09-01-2012         27.6      80.0           22.3  ...   16  63   72   21
9   10-01-2012         26.9      84.0            4.2  ...   16  29   69   13
10  11-01-2012         26.1      85.0           10.0  ...   16  31   75   14
11  12-01-2012         26.8      82.0            6.5  ...   20  37   52   13
12  13-01-2012         26.7      84.0           14.3  ...   19  27   55   13
13  14-01-2012         25.4      88.0           15.5  ...   19  34   54    7
14  15-01-2012         27.6      80.0            1.9  ...   18  20   89   10
15  16-01-2012         28.3      73.0            0.0  ...   18  30   86   16
16  17-01-2012         28.6      77.0            6.2  ...   30  33   94   23
17  18-01-2012         28.2      78.0            0.9  ...   45  38   98   19
18  19-01-2012         29.3      70.0            0.0  ...   22  43   65   16
19  20-01-2012         29.6      64.0            0.0  ...   17  33   73   12
20  21-01-2012         28.9      78.0            0.0  ...   25  29   90   21
21  22-01-2012         29.1      73.0            0.0  ...   21  99   95   14
22  23-01-2012         28.5      70.0            0.0  ...   17  15   78   10
23  24-01-2012         28.4      73.0            3.9  ...   26  24   48   11
24  25-01-2012         28.2      77.0            2.4  ...   22  24   62   15
25  26-01-2012         28.7      79.0            6.0  ...   23  30   81   11
26  27-01-2012         29.0      74.0            0.0  ...   20  26   96   14
27  28-01-2012         29.1      68.0            0.3  ...   24  26   85   17
28  29-01-2012         26.8      81.0            3.8  ...   15  15   75    9
29  30-01-2012         26.4      89.0           40.0  ...   21  29  130   10
30  31-01-2012         27.1      81.0            4.4  ...   18  29   61   12

[31 rows x 11 columns]

In [64]:
#delete pm25 from 2021 data
for x in range(2010,2022):
  path = f'/content/gdrive/MyDrive/dokumentasi/dataset_combined/{x}' # use your path
  all_files = glob.glob(path + "/*.csv")
  all_files.sort()
  for filename in all_files:
      df = pd.read_csv(filename, index_col=None, header=0)
      try:
        df.drop("pm25", axis=1, inplace=True)
        df.to_csv(filename,index=False)
      except:
        pass

# **7. Combine all data to one csv file**

In [65]:
li = []
for x in range(2010,2022):
  path = f'/content/gdrive/MyDrive/dokumentasi/dataset_combined/{x}' # use your path
  all_files = glob.glob(path + "/*.csv")
  all_files.sort()
  for filename in all_files:
      df = pd.read_csv(filename, index_col=None, header=0)
      li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

         Tanggal  Temperature  Humidity  Precipitation  ...  so2  co    o3   no2
0     01-01-2010         28.7      75.0            0.0  ...    4  73  27.0  14.0
1     02-01-2010         28.7      73.0            6.6  ...    2  16  33.0   9.0
2     03-01-2010         28.8      72.0            0.0  ...    2  19  20.0   9.0
3     04-01-2010         29.9      70.0            0.0  ...    2  16  15.0   6.0
4     05-01-2010         28.5      70.0            0.4  ...    2  17  15.0   8.0
...          ...          ...       ...            ...  ...  ...  ..   ...   ...
4479  27-03-2021         28.3      82.0            0.0  ...   49  13  63.0  33.0
4480  28-03-2021         28.8      79.0            4.5  ...   43  15  71.0  31.0
4481         NaN          NaN       NaN            NaN  ...   48  19  67.0  37.0
4482  30-03-2021         27.8      86.0            3.5  ...   42  15  55.0  30.0
4483  31-03-2021         28.5      79.0            0.6  ...   43  18  48.0  25.0

[4484 rows x 11 columns]

In [68]:
#Check is there's NaN value
frame.isnull().values.any()

True

In [69]:
#Drop NaN value
frame.dropna(inplace=True)
frame.isnull().values.any()

False

In [70]:
frame.describe()

       Temperature     Humidity  ...           o3          no2
count  3978.000000  3978.000000  ...  3978.000000  3978.000000
mean     28.456888    76.075918  ...    94.747612    18.460282
std       1.039796     6.245080  ...    48.831914    11.188222
min      24.100000    52.000000  ...     0.000000     0.000000
25%      27.900000    72.000000  ...    61.000000    13.000000
50%      28.600000    76.000000  ...    85.000000    17.000000
75%      29.200000    80.000000  ...   119.000000    21.000000
max      34.300000    96.000000  ...   314.000000   148.000000

[8 rows x 6 columns]

In [71]:
#export to csv
frame.to_csv("/content/gdrive/MyDrive/dokumentasi/dataset_full.csv",index=False)