# **1. Importing all important libraries**

In [ ]:
import glob
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **2. Taking a brief look at air quality dataset**

In [ ]:
#load sample ispu data
ispu_data = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/dataset/2016/01. ISPU Provinsi-DKI-Jakarta-Bulan-Januari-Tahun-2016.csv")
ispu_data

       tanggal  pm10  so2  co   o3  no2  max critical     categori lokasi_spku
0   2016-01-01    72   32  53   51   11   72     PM10       SEDANG        DKI4
1   2016-01-02    52   32  29   50   12   52     PM10       SEDANG        DKI1
2   2016-01-03    44   33  33   50   18   50       O3         BAIK        DKI3
3   2016-01-04    61   33  36  103   24  103       O3  TIDAK SEHAT        DKI2
4   2016-01-05    99   33  54   67   22   99     PM10       SEDANG        DKI4
5   2016-01-06    75   33  43   55   17   75     PM10       SEDANG        DKI4
6   2016-01-07    75   33  31   70   13   75     PM10       SEDANG        DKI4
7   2016-01-08    60   33  30   62    9   62       O3       SEDANG        DKI2
8   2016-01-09    77   33  34   68    9   77     PM10       SEDANG        DKI4
9   2016-01-10    83   39  38   86   15   86       O3       SEDANG        DKI2
10  2016-01-11    82   38  36   93   14   93       O3       SEDANG        DKI2
11  2016-01-12    72   37  38   60   20   72     PM10       SEDANG        DKI4
12  2016-01-13    65   37  43   57   16   65     PM10       SEDANG        DKI5
13  2016-01-14    59   38  33   53   18   59     PM10       SEDANG        DKI2
14  2016-01-15    68   42  39   60   11   68     PM10       SEDANG        DKI4
15  2016-01-16    68   42  34   95   15   95       O3       SEDANG        DKI1
16  2016-01-17    94   42  39  149   17  149       O3  TIDAK SEHAT        DKI1
17  2016-01-18    96   44  43  107   21  107       O3  TIDAK SEHAT        DKI2
18  2016-01-19    77   45  31   83   18   83       O3       SEDANG        DKI3
19  2016-01-20    61   44  39   69   18   69       O3       SEDANG        DKI1
20  2016-01-21    66   48  35   73   14   73       O3       SEDANG        DKI3
21  2016-01-22    79   41  59   52   15   79     PM10       SEDANG        DKI4
22  2016-01-23    55   40  37   51   14   55     PM10       SEDANG        DKI4
23  2016-01-24    55   41  42   48   14   55     PM10       SEDANG        DKI1
24  2016-01-25    37   40  32   49   13   49       O3         BAIK        DKI1
25  2016-01-26    61   42  47   54   16   61     PM10       SEDANG        DKI1
26  2016-01-27    80   43  58   81   21   81       O3       SEDANG        DKI3
27  2016-01-28    64   42  30   77   15   77       O3       SEDANG        DKI1
28  2016-01-29    69   44  29   83   16   83       O3       SEDANG        DKI2
29  2016-01-30    80   42  24   62   14   80     PM10       SEDANG        DKI4
30  2016-01-31    80   42  25   51   12   80     PM10       SEDANG        DKI4

It can be seen that the Air Quality data we have is quite good.

# **3. Taking a brief look at weather dataset**

In [ ]:
#load sample weather data
weather_data = pd.read_excel("/content/gdrive/MyDrive/dokumentasi/cuaca/2016/01. Cuaca-Jakarta-Bulan-Januari-Tahun-2016.xlsx")
weather_data

                                           Unnamed: 0  ... Unnamed: 10
0                                                 NaN  ...         NaN
1                                                 NaN  ...         NaN
2                                                 NaN  ...         NaN
3                                                 NaN  ...         NaN
4                                                 NaN  ...         NaN
5                                                 NaN  ...         NaN
6                                                 NaN  ...         NaN
7                                             Tanggal  ...     ddd_car
8                                          01-01-2016  ...          N
9                                          02-01-2016  ...          N
10                                         03-01-2016  ...          W
11                                         04-01-2016  ...          N
12                                         05-01-2016  ...          N
13                                         06-01-2016  ...          N
14                                         07-01-2016  ...          N
15                                         08-01-2016  ...          N
16                                         09-01-2016  ...          N
17                                         10-01-2016  ...          N
18                                         11-01-2016  ...          N
19                                         12-01-2016  ...          N
20                                         13-01-2016  ...          N
21                                         14-01-2016  ...          N
22                                         15-01-2016  ...          N
23                                         16-01-2016  ...          N
24                                         17-01-2016  ...          N
25                                         18-01-2016  ...          N
26                                         19-01-2016  ...          N
27                                         20-01-2016  ...          N
28                                         21-01-2016  ...          N
29                                         22-01-2016  ...          N
30                                         23-01-2016  ...          N
31                                         24-01-2016  ...          N
32                                         25-01-2016  ...          N
33                                         26-01-2016  ...          N
34                                         27-01-2016  ...          N
35                                         28-01-2016  ...          N
36                                         29-01-2016  ...          N
37                                         30-01-2016  ...          N
38                                         31-01-2016  ...          N
39                                                NaN  ...         NaN
40                                                NaN  ...         NaN
41                                                NaN  ...         NaN
42                                       Keterangan :  ...         NaN
43                           8888: data tidak terukur  ...         NaN
44  9999: Tidak Ada Data (tidak dilakukan pengukuran)  ...         NaN
45                      Tn: Temperatur minimum\t (°C)  ...         NaN
46                       Tx: Temperatur maksimum (°C)  ...         NaN
47                    Tavg: Temperatur rata-rata (°C)  ...         NaN
48                   RH_avg: Kelembapan rata-rata (%)  ...         NaN
49                               RR: Curah hujan (mm)  ...         NaN
50              ss: Lamanya penyinaran matahari (jam)  ...         NaN
51               ff_x: Kecepatan angin maksimum (m/s)  ...         NaN
52      ddd_x: Arah angin saat kecepatan maksimum (°)  ...         NaN
53            ff_avg: Kecepatan angin rata-rata (m/s)  ...         NaN
54                  ddd_car: Arah angin terbanyak (°)  ...         NaN

[55 rows x 11 columns]

In [ ]:
weather_data.describe()

        Unnamed: 0  ID WMO  :  96745  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10
count           45      30      36.0  ...          32          32           32
unique          45       9      22.0  ...          14           4            3
top     07-01-2016      26      32.4  ...         310           1           N
freq             1       9       5.0  ...           5          17           30

[4 rows x 11 columns]

It can be seen that the weather data we have is bad and messy. We need to do something before we can use it.

# **4. Cleaning the weather data**

Since there are many NaN values before column names (rows 0-7) we need to skip these columns when reading the data.

In [ ]:
weather_data = pd.read_excel("/content/gdrive/MyDrive/dokumentasi/cuaca/2016/01. Cuaca-Jakarta-Bulan-Januari-Tahun-2016.xlsx",skiprows=[0,1,2,3,4,5,6,7])
weather_data

                                              Tanggal    Tn  ...  ff_avg  ddd_car
0                                          01-01-2016  25.0  ...     2.0       N
1                                          02-01-2016  26.0  ...     1.0       N
2                                          03-01-2016  25.0  ...     2.0       W
3                                          04-01-2016   NaN  ...     2.0       N
4                                          05-01-2016  27.0  ...     1.0       N
5                                          06-01-2016  26.0  ...     1.0       N
6                                          07-01-2016  26.0  ...     2.0       N
7                                          08-01-2016  27.0  ...     2.0       N
8                                          09-01-2016  26.0  ...     2.0       N
9                                          10-01-2016  27.0  ...     2.0       N
10                                         11-01-2016  27.0  ...     1.0       N
11                                         12-01-2016  28.0  ...     1.0       N
12                                         13-01-2016  25.0  ...     1.0       N
13                                         14-01-2016  26.0  ...     1.0       N
14                                         15-01-2016  26.0  ...     1.0       N
15                                         16-01-2016  27.0  ...     1.0       N
16                                         17-01-2016  26.0  ...     1.0       N
17                                         18-01-2016  27.0  ...     2.0       N
18                                         19-01-2016   NaN  ...     1.0       N
19                                         20-01-2016   NaN  ...     1.0       N
20                                         21-01-2016   NaN  ...     1.0       N
21                                         22-01-2016  27.0  ...     1.0       N
22                                         23-01-2016  25.0  ...     1.0       N
23                                         24-01-2016  25.0  ...     1.0       N
24                                         25-01-2016   NaN  ...     0.0       N
25                                         26-01-2016  25.0  ...     1.0       N
26                                         27-01-2016  26.0  ...     2.0       N
27                                         28-01-2016  26.0  ...     2.0       N
28                                         29-01-2016  27.0  ...     2.0       N
29                                         30-01-2016  27.0  ...     2.0       N
30                                         31-01-2016   NaN  ...     2.0       N
31                                                NaN   NaN  ...     NaN      NaN
32                                                NaN   NaN  ...     NaN      NaN
33                                                NaN   NaN  ...     NaN      NaN
34                                       Keterangan :   NaN  ...     NaN      NaN
35                           8888: data tidak terukur   NaN  ...     NaN      NaN
36  9999: Tidak Ada Data (tidak dilakukan pengukuran)   NaN  ...     NaN      NaN
37                      Tn: Temperatur minimum\t (°C)   NaN  ...     NaN      NaN
38                       Tx: Temperatur maksimum (°C)   NaN  ...     NaN      NaN
39                    Tavg: Temperatur rata-rata (°C)   NaN  ...     NaN      NaN
40                   RH_avg: Kelembapan rata-rata (%)   NaN  ...     NaN      NaN
41                               RR: Curah hujan (mm)   NaN  ...     NaN      NaN
42              ss: Lamanya penyinaran matahari (jam)   NaN  ...     NaN      NaN
43               ff_x: Kecepatan angin maksimum (m/s)   NaN  ...     NaN      NaN
44      ddd_x: Arah angin saat kecepatan maksimum (°)   NaN  ...     NaN      NaN
45            ff_avg: Kecepatan angin rata-rata (m/s)   NaN  ...     NaN      NaN
46                  ddd_car: Arah angin terbanyak (°)   NaN  ...     NaN      NaN

[47 rows x 11 columns]

Because we only need the Temperature,	Humidity,	Precipitation,	Wind Speed, and	Wind Direction data from the dataset. So we need to drop the others.

In [ ]:
weather_data.drop(['Tn', 'Tx', 'ss', 'ff_x', 'ddd_x'],axis=1, inplace=True)
weather_data

                                              Tanggal  Tavg  ...  ff_avg  ddd_car
0                                          01-01-2016  28.2  ...     2.0       N
1                                          02-01-2016  27.1  ...     1.0       N
2                                          03-01-2016  28.4  ...     2.0       W
3                                          04-01-2016  29.0  ...     2.0       N
4                                          05-01-2016  28.6  ...     1.0       N
5                                          06-01-2016  28.8  ...     1.0       N
6                                          07-01-2016  29.7  ...     2.0       N
7                                          08-01-2016  29.6  ...     2.0       N
8                                          09-01-2016  29.0  ...     2.0       N
9                                          10-01-2016  29.1  ...     2.0       N
10                                         11-01-2016  29.8  ...     1.0       N
11                                         12-01-2016  28.5  ...     1.0       N
12                                         13-01-2016  28.2  ...     1.0       N
13                                         14-01-2016  29.0  ...     1.0       N
14                                         15-01-2016  29.4  ...     1.0       N
15                                         16-01-2016  29.2  ...     1.0       N
16                                         17-01-2016  29.2  ...     1.0       N
17                                         18-01-2016  29.4  ...     2.0       N
18                                         19-01-2016  28.7  ...     1.0       N
19                                         20-01-2016  28.0  ...     1.0       N
20                                         21-01-2016  28.1  ...     1.0       N
21                                         22-01-2016  29.0  ...     1.0       N
22                                         23-01-2016  26.7  ...     1.0       N
23                                         24-01-2016  27.7  ...     1.0       N
24                                         25-01-2016  25.9  ...     0.0       N
25                                         26-01-2016  27.8  ...     1.0       N
26                                         27-01-2016  29.0  ...     2.0       N
27                                         28-01-2016  28.9  ...     2.0       N
28                                         29-01-2016  29.0  ...     2.0       N
29                                         30-01-2016  28.5  ...     2.0       N
30                                         31-01-2016  28.5  ...     2.0       N
31                                                NaN   NaN  ...     NaN      NaN
32                                                NaN   NaN  ...     NaN      NaN
33                                                NaN   NaN  ...     NaN      NaN
34                                       Keterangan :   NaN  ...     NaN      NaN
35                           8888: data tidak terukur   NaN  ...     NaN      NaN
36  9999: Tidak Ada Data (tidak dilakukan pengukuran)   NaN  ...     NaN      NaN
37                      Tn: Temperatur minimum\t (°C)   NaN  ...     NaN      NaN
38                       Tx: Temperatur maksimum (°C)   NaN  ...     NaN      NaN
39                    Tavg: Temperatur rata-rata (°C)   NaN  ...     NaN      NaN
40                   RH_avg: Kelembapan rata-rata (%)   NaN  ...     NaN      NaN
41                               RR: Curah hujan (mm)   NaN  ...     NaN      NaN
42              ss: Lamanya penyinaran matahari (jam)   NaN  ...     NaN      NaN
43               ff_x: Kecepatan angin maksimum (m/s)   NaN  ...     NaN      NaN
44      ddd_x: Arah angin saat kecepatan maksimum (°)   NaN  ...     NaN      NaN
45            ff_avg: Kecepatan angin rata-rata (m/s)   NaN  ...     NaN      NaN
46                  ddd_car: Arah angin terbanyak (°)   NaN  ...     NaN      NaN

[47 rows x 6 columns]

Since there is a lot of unused NaN data at the end of the data, we need to drop it.

In [ ]:
#make folder to save the combined data
for x in range(2010,2022):
  !mkdir /content/gdrive/MyDrive/dokumentasi/cuaca_cleaned/$x #Use your own path

In [ ]:
month={"Januari": 31, "Februari": 28, "Maret": 31, "April": 30, "Mei": 31, "Juni": 30, "Juli": 31, "Agustus": 31, "September": 30, "Oktober":31, "November":30, "Desember":30}
for x in range(2010,2021):
  path_cuaca = f'/content/gdrive/MyDrive/dokumentasi/cuaca/{x}' # use your path
  files_cuaca = glob.glob(path_cuaca + "/*.xlsx")
  #sort the data to start from januari
  files_cuaca.sort()

  for cuaca in (files_cuaca):
    txt = cuaca.split("-")
    print(f"Processing: {x} {txt[3]} ")
    df_cuaca = pd.read_excel(cuaca, header=0, skiprows=[0,1,2,3,4,5,6,7])
    #Delete NaN at spesific rows (different for each month)
    if month[txt[3]] == 31:
      df_cuaca.drop(df_cuaca.index[31:47],inplace=True)
    elif month[txt[3]] == 30:
      df_cuaca.drop(df_cuaca.index[30:46],inplace=True)
    elif month[txt[3]] == 28 and x%4 != 0:
      df_cuaca.drop(df_cuaca.index[28:44],inplace=True)
    else:
      df_cuaca.drop(df_cuaca.index[29:45],inplace=True)
    try:
      df_cuaca.drop(['Tn', 'Tx', 'ss', 'ff_x', 'ddd_x'],axis=1, inplace=True)
    except:
      pass
    path_save= cuaca.replace("cuaca", "cuaca_cleaned").replace("xlsx", "csv")
    df_cuaca.to_csv(path_save, index=False)

Processing: 2010 Januari
Processing: 2010 Februari
Processing: 2010 Maret
Processing: 2010 April
Processing: 2010 Mei
Processing: 2010 Juni
Processing: 2010 Juli
Processing: 2010 Agustus
Processing: 2010 September
Processing: 2010 Oktober
Processing: 2010 November
Processing: 2010 Desember
Processing: 2011 Januari
Processing: 2011 Februari
Processing: 2011 Maret
Processing: 2011 April
Processing: 2011 Mei
Processing: 2011 Juni
Processing: 2011 Juli
Processing: 2011 Agustus
Processing: 2011 September
Processing: 2011 Oktober
Processing: 2011 November
Processing: 2011 Desember
Processing: 2012 Januari
Processing: 2012 Februari
Processing: 2012 Maret
Processing: 2012 April
Processing: 2012 Mei
Processing: 2012 Juni
Processing: 2012 Juli
Processing: 2012 Agustus
Processing: 2012 September
Processing: 2012 Oktober
Processing: 2012 November
Processing: 2012 Desember
Processing: 2013 Januari
Processing: 2013 Februari
Processing: 2013 Maret
Processing: 2013 April
Processing: 2013 Mei
Processing: 2013 Juni
Processing: 2013 Juli
Processing: 2013 Agustus
Processing: 2013 September
Processing: 2013 Oktober
Processing: 2013 November
Processing: 2013 Desember
Processing: 2014 Januari
Processing: 2014 Februari
Processing: 2014 Maret
Processing: 2014 April
Processing: 2014 Mei
Processing: 2014 Juni
Processing: 2014 Juli
Processing: 2014 Agustus
Processing: 2014 September
Processing: 2014 Oktober
Processing: 2014 November
Processing: 2014 Desember
Processing: 2015 Januari
Processing: 2015 Februari
Processing: 2015 Maret
Processing: 2015 April
Processing: 2015 Mei
Processing: 2015 Juni
Processing: 2015 Juli
Processing: 2015 Agustus
Processing: 2015 September
Processing: 2015 Oktober
Processing: 2015 November
Processing: 2015 Desember
Processing: 2016 Januari
Processing: 2016 Februari
Processing: 2016 Maret
Processing: 2016 April
Processing: 2016 Mei
Processing: 2016 Juni
Processing: 2016 Juli
Processing: 2016 Agustus
Processing: 2016 September
Processing: 2016 Oktober
Processing: 2016 November
Processing: 2016 Desember
Processing: 2017 Januari
Processing: 2017 Februari
Processing: 2017 Maret
Processing: 2017 April
Processing: 2017 Mei
Processing: 2017 Juni
Processing: 2017 Juli
Processing: 2017 Agustus
Processing: 2017 September
Processing: 2017 Oktober
Processing: 2017 November
Processing: 2017 Desember
Processing: 2018 Januari
Processing: 2018 Februari
Processing: 2018 Maret
Processing: 2018 April
Processing: 2018 Mei
Processing: 2018 Juni
Processing: 2018 Juli
Processing: 2018 Agustus
Processing: 2018 September
Processing: 2018 Oktober
Processing: 2018 November
Processing: 2018 Desember
Processing: 2019 Januari
Processing: 2019 Februari
Processing: 2019 Maret
Processing: 2019 April
Processing: 2019 Mei
Processing: 2019 Juni
Processing: 2019 Juli
Processing: 2019 Agustus
Processing: 2019 September
Processing: 2019 Oktober
Processing: 2019 November
Processing: 2019 Desember
Processing: 2020 Januari
Processing: 2020 Februari
Processing: 2020 Maret
Processing: 2020 April
Processing: 2020 Mei
Processing: 2020 Juni
Processing: 2020 Juli
Processing: 2020 Agustus
Processing: 2020 September
Processing: 2020 Oktober
Processing: 2020 November
Processing: 2020 Desember

Now the weather data is ready to use.

# **5. Combining weather and air quality data**

In [ ]:
#concat air quality and weather data
weather_data = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/cuaca_cleaned/2016/01. Cuaca-Jakarta-Bulan-Januari-Tahun-2016.csv")
result = pd.concat([weather_data,ispu_data], axis=1)
result

       Tanggal  Tavg  RH_avg      RR  ...  max critical     categori  lokasi_spku
0   01-01-2016  28.2    83.0    26.6  ...   72     PM10       SEDANG         DKI4
1   02-01-2016  27.1    85.0     0.0  ...   52     PM10       SEDANG         DKI1
2   03-01-2016  28.4    79.0    15.6  ...   50       O3         BAIK         DKI3
3   04-01-2016  29.0    80.0     0.0  ...  103       O3  TIDAK SEHAT         DKI2
4   05-01-2016  28.6    83.0     0.0  ...   99     PM10       SEDANG         DKI4
5   06-01-2016  28.8    77.0    11.6  ...   75     PM10       SEDANG         DKI4
6   07-01-2016  29.7    76.0     0.3  ...   75     PM10       SEDANG         DKI4
7   08-01-2016  29.6    78.0     0.0  ...   62       O3       SEDANG         DKI2
8   09-01-2016  29.0    81.0     0.0  ...   77     PM10       SEDANG         DKI4
9   10-01-2016  29.1    76.0     0.0  ...   86       O3       SEDANG         DKI2
10  11-01-2016  29.8    74.0     0.0  ...   93       O3       SEDANG         DKI2
11  12-01-2016  28.5    82.0     0.0  ...   72     PM10       SEDANG         DKI4
12  13-01-2016  28.2    82.0     5.5  ...   65     PM10       SEDANG         DKI5
13  14-01-2016  29.0    78.0     1.2  ...   59     PM10       SEDANG         DKI2
14  15-01-2016  29.4    79.0     0.0  ...   68     PM10       SEDANG         DKI4
15  16-01-2016  29.2    77.0     0.2  ...   95       O3       SEDANG         DKI1
16  17-01-2016  29.2    76.0     0.0  ...  149       O3  TIDAK SEHAT         DKI1
17  18-01-2016  29.4    76.0     0.0  ...  107       O3  TIDAK SEHAT         DKI2
18  19-01-2016  28.7    77.0     0.0  ...   83       O3       SEDANG         DKI3
19  20-01-2016  28.0    80.0    30.5  ...   69       O3       SEDANG         DKI1
20  21-01-2016  28.1    82.0     0.2  ...   73       O3       SEDANG         DKI3
21  22-01-2016  29.0    83.0     1.8  ...   79     PM10       SEDANG         DKI4
22  23-01-2016  26.7    87.0    11.4  ...   55     PM10       SEDANG         DKI4
23  24-01-2016  27.7    86.0    14.7  ...   55     PM10       SEDANG         DKI1
24  25-01-2016  25.9    92.0    30.8  ...   49       O3         BAIK         DKI1
25  26-01-2016  27.8    84.0     6.7  ...   61     PM10       SEDANG         DKI1
26  27-01-2016  29.0    81.0     0.1  ...   81       O3       SEDANG         DKI3
27  28-01-2016  28.9    81.0     6.6  ...   77       O3       SEDANG         DKI1
28  29-01-2016  29.0    79.0     0.0  ...   83       O3       SEDANG         DKI2
29  30-01-2016  28.5    81.0  8888.0  ...   80     PM10       SEDANG         DKI4
30  31-01-2016  28.5    79.0  8888.0  ...   80     PM10       SEDANG         DKI4

[31 rows x 16 columns]

Delete unused and duplicates column and rename some column

In [ ]:
result.drop(['tanggal', 'categori', 'lokasi_spku','max', 'critical'], axis=1, inplace=True)
result.rename(columns = {'Tanggal':'Date','Tavg': 'Temperature', 'RH_avg': 'Humidity', 'RR' : 'Precipitation', 'ff_avg': 'Wind Speed', 'ddd_car': 'Wind Direction'}, inplace = True)
result

          Date  Temperature  Humidity  Precipitation  ...  so2  co   o3  no2
0   01-01-2016         28.2      83.0           26.6  ...   32  53   51   11
1   02-01-2016         27.1      85.0            0.0  ...   32  29   50   12
2   03-01-2016         28.4      79.0           15.6  ...   33  33   50   18
3   04-01-2016         29.0      80.0            0.0  ...   33  36  103   24
4   05-01-2016         28.6      83.0            0.0  ...   33  54   67   22
5   06-01-2016         28.8      77.0           11.6  ...   33  43   55   17
6   07-01-2016         29.7      76.0            0.3  ...   33  31   70   13
7   08-01-2016         29.6      78.0            0.0  ...   33  30   62    9
8   09-01-2016         29.0      81.0            0.0  ...   33  34   68    9
9   10-01-2016         29.1      76.0            0.0  ...   39  38   86   15
10  11-01-2016         29.8      74.0            0.0  ...   38  36   93   14
11  12-01-2016         28.5      82.0            0.0  ...   37  38   60   20
12  13-01-2016         28.2      82.0            5.5  ...   37  43   57   16
13  14-01-2016         29.0      78.0            1.2  ...   38  33   53   18
14  15-01-2016         29.4      79.0            0.0  ...   42  39   60   11
15  16-01-2016         29.2      77.0            0.2  ...   42  34   95   15
16  17-01-2016         29.2      76.0            0.0  ...   42  39  149   17
17  18-01-2016         29.4      76.0            0.0  ...   44  43  107   21
18  19-01-2016         28.7      77.0            0.0  ...   45  31   83   18
19  20-01-2016         28.0      80.0           30.5  ...   44  39   69   18
20  21-01-2016         28.1      82.0            0.2  ...   48  35   73   14
21  22-01-2016         29.0      83.0            1.8  ...   41  59   52   15
22  23-01-2016         26.7      87.0           11.4  ...   40  37   51   14
23  24-01-2016         27.7      86.0           14.7  ...   41  42   48   14
24  25-01-2016         25.9      92.0           30.8  ...   40  32   49   13
25  26-01-2016         27.8      84.0            6.7  ...   42  47   54   16
26  27-01-2016         29.0      81.0            0.1  ...   43  58   81   21
27  28-01-2016         28.9      81.0            6.6  ...   42  30   77   15
28  29-01-2016         29.0      79.0            0.0  ...   44  29   83   16
29  30-01-2016         28.5      81.0         8888.0  ...   42  24   62   14
30  31-01-2016         28.5      79.0         8888.0  ...   42  25   51   12

[31 rows x 11 columns]

In [ ]:
#replace unmeasured data with 0
result['Precipitation'] = result['Precipitation'].replace([8888.0],0)
result

          Date  Temperature  Humidity  Precipitation  ...  so2  co   o3  no2
0   01-01-2016         28.2      83.0           26.6  ...   32  53   51   11
1   02-01-2016         27.1      85.0            0.0  ...   32  29   50   12
2   03-01-2016         28.4      79.0           15.6  ...   33  33   50   18
3   04-01-2016         29.0      80.0            0.0  ...   33  36  103   24
4   05-01-2016         28.6      83.0            0.0  ...   33  54   67   22
5   06-01-2016         28.8      77.0           11.6  ...   33  43   55   17
6   07-01-2016         29.7      76.0            0.3  ...   33  31   70   13
7   08-01-2016         29.6      78.0            0.0  ...   33  30   62    9
8   09-01-2016         29.0      81.0            0.0  ...   33  34   68    9
9   10-01-2016         29.1      76.0            0.0  ...   39  38   86   15
10  11-01-2016         29.8      74.0            0.0  ...   38  36   93   14
11  12-01-2016         28.5      82.0            0.0  ...   37  38   60   20
12  13-01-2016         28.2      82.0            5.5  ...   37  43   57   16
13  14-01-2016         29.0      78.0            1.2  ...   38  33   53   18
14  15-01-2016         29.4      79.0            0.0  ...   42  39   60   11
15  16-01-2016         29.2      77.0            0.2  ...   42  34   95   15
16  17-01-2016         29.2      76.0            0.0  ...   42  39  149   17
17  18-01-2016         29.4      76.0            0.0  ...   44  43  107   21
18  19-01-2016         28.7      77.0            0.0  ...   45  31   83   18
19  20-01-2016         28.0      80.0           30.5  ...   44  39   69   18
20  21-01-2016         28.1      82.0            0.2  ...   48  35   73   14
21  22-01-2016         29.0      83.0            1.8  ...   41  59   52   15
22  23-01-2016         26.7      87.0           11.4  ...   40  37   51   14
23  24-01-2016         27.7      86.0           14.7  ...   41  42   48   14
24  25-01-2016         25.9      92.0           30.8  ...   40  32   49   13
25  26-01-2016         27.8      84.0            6.7  ...   42  47   54   16
26  27-01-2016         29.0      81.0            0.1  ...   43  58   81   21
27  28-01-2016         28.9      81.0            6.6  ...   42  30   77   15
28  29-01-2016         29.0      79.0            0.0  ...   44  29   83   16
29  30-01-2016         28.5      81.0            0.0  ...   42  24   62   14
30  31-01-2016         28.5      79.0            0.0  ...   42  25   51   12

[31 rows x 11 columns]

Now we succesfully combine the data

# **7. Implement to all of the data and save it to google drive**

In [ ]:
#make folder to save the combined data
for x in range(2010,2022):
  !mkdir /content/gdrive/MyDrive/dokumentasi/dataset_combined/$x #Use your own path

In [ ]:
month={"Januari": "01", "Februari": "02", "Maret": "03", "April": "04", "Mei": "05", "Juni": "06", "Juli": "07", "Agustus": "08", "September": "09", "Oktober":10, "November":11, "Desember":12}
for x in range(2010,2021):
  path_cuaca = f'/content/gdrive/MyDrive/dokumentasi/cuaca_cleaned/{x}' # use your path
  files_cuaca = glob.glob(path_cuaca + "/*.csv")
  path_ispu = f'/content/gdrive/MyDrive/dokumentasi/dataset/{x}' # use your path
  files_ispu = glob.glob(path_ispu + "/*.csv")

  #sort the data to start from januari
  files_cuaca.sort()
  files_ispu.sort()

  for ispu,cuaca in zip(files_ispu, files_cuaca):
    txt = ispu.split("-")
    print(f"Processing: {x} {txt[4]} ")

   
    df_cuaca = pd.read_csv(cuaca, header=0)
    df_ispu = pd.read_csv(ispu, index_col=None, header=0)
    result = pd.concat([df_cuaca, df_ispu], axis=1)

    result.drop(['tanggal', 'categori', 'lokasi_spku','max', 'critical'], axis=1, inplace=True)
    result = result.rename(columns = {'Tanggal':'Date','Tavg': 'Temperature', 'RH_avg': 'Humidity', 'RR' : 'Precipitation', 'ff_avg': 'Wind Speed', 'ddd_car': 'Wind Direction'}, inplace = False)
    if txt[4] in month.keys():
      nama_file = f"{month[txt[4]]}. {txt[4]} {x}.csv"
      path_save = f"/content/gdrive/MyDrive/dokumentasi/dataset_combined/{x}/{nama_file}" #use your own path
      try:
        result.drop("Unnamed: 10", axis=1, inplace =True) #Drop unnamed column
      except:
        pass
      result['Precipitation'] = result['Precipitation'].replace([8888.0],0)
      result.to_csv(path_save,index=False)

Processing: 2010 Januari
Processing: 2010 Februari
Processing: 2010 Maret
Processing: 2010 April
Processing: 2010 Mei
Processing: 2010 Juni
Processing: 2010 Juli
Processing: 2010 Agustus
Processing: 2010 September
Processing: 2010 Oktober
Processing: 2010 November
Processing: 2010 Desember
Processing: 2011 Januari
Processing: 2011 Februari
Processing: 2011 Maret
Processing: 2011 April
Processing: 2011 Mei
Processing: 2011 Juni
Processing: 2011 Juli
Processing: 2011 Agustus
Processing: 2011 September
Processing: 2011 Oktober
Processing: 2011 November
Processing: 2011 Desember
Processing: 2012 Januari
Processing: 2012 Februari
Processing: 2012 Maret
Processing: 2012 April
Processing: 2012 Mei
Processing: 2012 Juni
Processing: 2012 Juli
Processing: 2012 Agustus
Processing: 2012 September
Processing: 2012 Oktober
Processing: 2012 November
Processing: 2012 Desember
Processing: 2013 Januari
Processing: 2013 Februari
Processing: 2013 Maret
Processing: 2013 April
Processing: 2013 Mei
Processing: 2013 Juni
Processing: 2013 Juli
Processing: 2013 Agustus
Processing: 2013 September
Processing: 2013 Oktober
Processing: 2013 November
Processing: 2013 Desember
Processing: 2014 Januari
Processing: 2014 Februari
Processing: 2014 Maret
Processing: 2014 April
Processing: 2014 Mei
Processing: 2014 Juni
Processing: 2014 Juli
Processing: 2014 Agustus
Processing: 2014 September
Processing: 2014 Oktober
Processing: 2014 November
Processing: 2014 Desember
Processing: 2015 Januari
Processing: 2015 Februari
Processing: 2015 Maret
Processing: 2015 April
Processing: 2015 Mei
Processing: 2015 Juni
Processing: 2015 Juli
Processing: 2015 Agustus
Processing: 2015 September
Processing: 2015 Oktober
Processing: 2015 November
Processing: 2015 Desember
Processing: 2016 Januari
Processing: 2016 Februari
Processing: 2016 Maret
Processing: 2016 April
Processing: 2016 Mei
Processing: 2016 Juni
Processing: 2016 Juli
Processing: 2016 Agustus
Processing: 2016 September
Processing: 2016 Oktober
Processing: 2016 November
Processing: 2016 Desember
Processing: 2017 Januari
Processing: 2017 Februari
Processing: 2017 Maret
Processing: 2017 April
Processing: 2017 Mei
Processing: 2017 Juni
Processing: 2017 Juli
Processing: 2017 Agustus
Processing: 2017 September
Processing: 2017 Oktober
Processing: 2017 November
Processing: 2017 Desember
Processing: 2018 Januari
Processing: 2018 Februari
Processing: 2018 Maret
Processing: 2018 April
Processing: 2018 Mei
Processing: 2018 Juni
Processing: 2018 Juli
Processing: 2018 Agustus
Processing: 2018 September
Processing: 2018 Oktober
Processing: 2018 November
Processing: 2018 Desember
Processing: 2019 Januari
Processing: 2019 Februari
Processing: 2019 Maret
Processing: 2019 April
Processing: 2019 Mei
Processing: 2019 Juni
Processing: 2019 Juli
Processing: 2019 Agustus
Processing: 2019 September
Processing: 2019 Oktober
Processing: 2019 November
Processing: 2019 Desember
Processing: 2020 Januari
Processing: 2020 Februari
Processing: 2020 Maret
Processing: 2020 April
Processing: 2020 Mei
Processing: 2020 Juni
Processing: 2020 Juli
Processing: 2020 Agustus
Processing: 2020 September
Processing: 2020 Oktober
Processing: 2020 November
Processing: 2020 Desember

In [ ]:
#Check the result
df = pd.read_csv("/content/gdrive/MyDrive/dokumentasi/dataset_combined/2010/01. Januari 2010.csv")
df

          Date  Temperature  Humidity  Precipitation  ...  so2  co  o3  no2
0   01-01-2010         28.7      75.0            0.0  ...    4  73  27   14
1   02-01-2010         28.7      73.0            6.6  ...    2  16  33    9
2   03-01-2010         28.8      72.0            0.0  ...    2  19  20    9
3   04-01-2010         29.9      70.0            0.0  ...    2  16  15    6
4   05-01-2010         28.5      70.0            0.4  ...    2  17  15    8
5   06-01-2010         28.6      74.0            0.0  ...    3  22  19   11
6   07-01-2010         28.1      76.0           12.7  ...    4  24  27   13
7   08-01-2010         26.9      85.0            0.5  ...    8  51  19   15
8   09-01-2010         27.4      80.0           28.0  ...    5  39  23   16
9   10-01-2010         26.4      86.0            0.0  ...    5  23  26   12
10  11-01-2010         27.7      84.0           19.6  ...   10  32  23   16
11  12-01-2010         26.5      82.0            0.9  ...    4  33   9   17
12  13-01-2010         26.7      82.0            6.0  ...    5  29  10   12
13  14-01-2010         26.2      80.0           20.3  ...    6  28  15   10
14  15-01-2010         25.3      84.0           11.6  ...    5  33  17   17
15  16-01-2010         25.1      94.0           49.8  ...    5  38  17   18
16  17-01-2010         25.5      94.0           22.3  ...    4  28  22   14
17  18-01-2010         26.5      82.0           73.9  ...    4  29  24   15
18  19-01-2010         26.0      88.0            7.3  ...    3  43  23   23
19  20-01-2010         26.6      86.0            3.4  ...    5  63  16   17
20  21-01-2010         28.1      78.0           25.3  ...    4  27  23   13
21  22-01-2010         26.1      84.0            0.0  ...    4  45  14   13
22  23-01-2010         28.2      78.0            9.2  ...    3  30  20   14
23  24-01-2010         28.9      73.0            0.0  ...    6  46  30   14
24  25-01-2010         27.8      80.0           19.9  ...    4  38  18   15
25  26-01-2010         26.2      86.0            5.8  ...    5  42  19   24
26  27-01-2010         27.8      81.0            0.0  ...    8  38  40   16
27  28-01-2010         28.4      78.0            0.0  ...    8  55  20   17
28  29-01-2010         28.8      76.0            3.0  ...    8  24  19   11
29  30-01-2010         27.8      77.0           13.1  ...    8  32  19   12
30  31-01-2010         26.8      84.0           37.4  ...    5  25  26   10

[31 rows x 11 columns]

# **8. Combine all data to one csv file**

In [ ]:
li = []
for x in range(2010,2021):
  path = f'/content/gdrive/MyDrive/dokumentasi/dataset_combined/{x}' # use your path
  all_files = glob.glob(path + "/*.csv")
  all_files.sort()
  for filename in all_files:
      df = pd.read_csv(filename, index_col=None, header=0)
      li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

                                   Date  Temperature  Humidity  ...  co    o3   no2
0                            01-01-2010         28.7      75.0  ...  73  27.0  14.0
1                            02-01-2010         28.7      73.0  ...  16  33.0   9.0
2                            03-01-2010         28.8      72.0  ...  19  20.0   9.0
3                            04-01-2010         29.9      70.0  ...  16  15.0   6.0
4                            05-01-2010         28.5      70.0  ...  17  15.0   8.0
...                                 ...          ...       ...  ...  ..   ...   ...
4051                         27-12-2020         29.4      70.0  ...  26  44.0  48.0
4052                         28-12-2020         29.1      70.0  ...  27  35.0  53.0
4053                         29-12-2020         28.3      73.0  ...  23  27.0  45.0
4054                         30-12-2020         28.0      75.0  ...  22  21.0  54.0
4055  ddd_car: Arah angin terbanyak (°)          NaN       NaN  ...  25  27.0  64.0

[4056 rows x 11 columns]

In [ ]:
#Checking non-null and Data type of each column
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056 entries, 0 to 4055
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4013 non-null   object
 1   Temperature     3992 non-null   float64
 2   Humidity        3992 non-null   float64
 3   Precipitation   3910 non-null   float64
 4   Wind Speed      3992 non-null   float64
 5   Wind Direction  3992 non-null   object
 6   pm10            3998 non-null   float64
 7   so2             3998 non-null   object
 8   co              3998 non-null   object
 9   o3              3998 non-null   float64
 10  no2             3998 non-null   float64
dtypes: float64(7), object(4)
memory usage: 348.7+ KB

In [ ]:
#summarising number of missing values in each column
frame.isnull().sum()

Date               43
Temperature        64
Humidity           64
Precipitation     146
Wind Speed         64
Wind Direction     64
pm10               58
so2                58
co                 58
o3                 58
no2                58
dtype: int64

In [ ]:
#Drop row with NaN at Date column
frame.dropna(subset=["Date"], inplace=True)

In [ ]:
#Check the result
frame.isnull().sum()

Date                0
Temperature        21
Humidity           21
Precipitation     103
Wind Speed         21
Wind Direction     21
pm10               20
so2                20
co                 20
o3                 20
no2                20
dtype: int64

In [ ]:
#replace unmeasured data with NaN
frame.so2 = frame.so2.replace({"---": np.nan})
frame.co = frame.co.replace({"---": np.nan})

In [ ]:
#Check data types of each column after replacing with NaN
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4013 entries, 0 to 4055
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4013 non-null   object
 1   Temperature     3992 non-null   float64
 2   Humidity        3992 non-null   float64
 3   Precipitation   3910 non-null   float64
 4   Wind Speed      3992 non-null   float64
 5   Wind Direction  3992 non-null   object
 6   pm10            3993 non-null   float64
 7   so2             3980 non-null   object
 8   co              3992 non-null   object
 9   o3              3993 non-null   float64
 10  no2             3993 non-null   float64
dtypes: float64(7), object(4)
memory usage: 376.2+ KB

In [ ]:
#Convert object data types to numeric
frame["so2"] = pd.to_numeric(frame["so2"])
frame["co"] = pd.to_numeric(frame["co"])
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4013 entries, 0 to 4055
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4013 non-null   object
 1   Temperature     3992 non-null   float64
 2   Humidity        3992 non-null   float64
 3   Precipitation   3910 non-null   float64
 4   Wind Speed      3992 non-null   float64
 5   Wind Direction  3992 non-null   object
 6   pm10            3993 non-null   float64
 7   so2             3980 non-null   float64
 8   co              3992 non-null   float64
 9   o3              3993 non-null   float64
 10  no2             3993 non-null   float64
dtypes: float64(9), object(2)
memory usage: 376.2+ KB

In [ ]:
#Imputing Missing Values
frame['Temperature'].fillna(frame['Temperature'].mean(), inplace=True)
frame['Humidity'].fillna(frame['Humidity'].mean(), inplace=True)
frame['Precipitation'].fillna(0, inplace=True)
frame['Wind Speed'].fillna(frame['Wind Speed'].mean(), inplace=True)
frame['pm10'].fillna(frame['pm10'].mean(), inplace=True)
frame['so2'].fillna(frame['so2'].mean(), inplace=True)
frame['no2'].fillna(frame['no2'].mean(), inplace=True)
frame['co'].fillna(frame['co'].mean(), inplace=True)
frame['o3'].fillna(frame['o3'].mean(), inplace=True)

In [ ]:
#Check the result
frame.isnull().sum()

Date               0
Temperature        0
Humidity           0
Precipitation      0
Wind Speed         0
Wind Direction    21
pm10               0
so2                0
co                 0
o3                 0
no2                0
dtype: int64

In [ ]:
#Finding the most common Wind Direction value to fill NaN.
frame["Wind Direction"].value_counts()

N     1531
W      709
C      655
E      556
NW     212
NE     129
SW      86
S       76
SE      38
Name: Wind Direction, dtype: int64

In [ ]:
#Fill NaN.
frame['Wind Direction'].fillna("N", inplace=True)
frame.isnull().sum()

Date              0
Temperature       0
Humidity          0
Precipitation     0
Wind Speed        0
Wind Direction    0
pm10              0
so2               0
co                0
o3                0
no2               0
dtype: int64

In [ ]:
frame

                                   Date  Temperature  ...    o3   no2
0                            01-01-2010    28.700000  ...  27.0  14.0
1                            02-01-2010    28.700000  ...  33.0   9.0
2                            03-01-2010    28.800000  ...  20.0   9.0
3                            04-01-2010    29.900000  ...  15.0   6.0
4                            05-01-2010    28.500000  ...  15.0   8.0
...                                 ...          ...  ...   ...   ...
4051                         27-12-2020    29.400000  ...  44.0  48.0
4052                         28-12-2020    29.100000  ...  35.0  53.0
4053                         29-12-2020    28.300000  ...  27.0  45.0
4054                         30-12-2020    28.000000  ...  21.0  54.0
4055  ddd_car: Arah angin terbanyak (°)    28.502605  ...  27.0  64.0

[4013 rows x 11 columns]

In [ ]:
#check date before "ddd_car: Arah angin terbanyak (°)"
cek = frame[frame["Date"] == "ddd_car: Arah angin terbanyak (°)"].index -1
frame.loc[cek]

            Date  Temperature  Humidity  Precipitation  ...   so2    co    o3   no2
2223  30-12-2015         27.5      85.0           93.2  ...  22.0  24.0  50.0  14.0
2589  30-12-2016         28.7      75.0            0.0  ...  32.0  40.0  41.0  12.0
2958  30-12-2017         28.5      80.0            0.0  ...  34.0  31.0  81.0  15.0
3323  30-12-2018         30.2      69.0            0.0  ...  12.0   6.0  53.0   4.0
3688  30-12-2019         28.9      75.0            0.8  ...  37.0  55.0  89.0   9.0
4054  30-12-2020         28.0      75.0            0.0  ...  40.0  22.0  21.0  54.0

[6 rows x 11 columns]

In [ ]:
#Replace "ddd_car: Arah angin terbanyak (°)" with actual date
idx = frame[frame["Date"] == "ddd_car: Arah angin terbanyak (°)"].index
date_list = ["31-12-2015" , "31-12-2016", "31-12-2017", "31-12-2018", "31-12-2019", "31-12-2020"]
frame["Date"].loc[idx] = date_list
frame

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

            Date  Temperature   Humidity  Precipitation  ...   so2    co    o3   no2
0     01-01-2010    28.700000  75.000000            0.0  ...   4.0  73.0  27.0  14.0
1     02-01-2010    28.700000  73.000000            6.6  ...   2.0  16.0  33.0   9.0
2     03-01-2010    28.800000  72.000000            0.0  ...   2.0  19.0  20.0   9.0
3     04-01-2010    29.900000  70.000000            0.0  ...   2.0  16.0  15.0   6.0
4     05-01-2010    28.500000  70.000000            0.4  ...   2.0  17.0  15.0   8.0
...          ...          ...        ...            ...  ...   ...   ...   ...   ...
4051  27-12-2020    29.400000  70.000000            0.0  ...  59.0  26.0  44.0  48.0
4052  28-12-2020    29.100000  70.000000            0.0  ...  57.0  27.0  35.0  53.0
4053  29-12-2020    28.300000  73.000000            0.0  ...  45.0  23.0  27.0  45.0
4054  30-12-2020    28.000000  75.000000            0.0  ...  40.0  22.0  21.0  54.0
4055  31-12-2020    28.502605  75.862224            0.0  ...  52.0  25.0  27.0  64.0

[4013 rows x 11 columns]

In [ ]:
#export to csv
frame.to_csv("/content/gdrive/MyDrive/dokumentasi/dataset_full.csv",index=False) #use your own path